@tailwind base;
@tailwind components;
@tailwind utilities;




@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@layer utilities{
    .font-squada-one {
      font-family: 'Squada One', sans-serif;
    }
  }

.instructions {
    font-size: 0.7rem;
    color: #266139;
    padding: 0.25rem;
    position: relative;
    font-family: sans-serif;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.08em;
    font-size: larger;
    text-align: center;
    border-radius: 0.4rem;
}

.sucmessage {
    color: black;
    font-weight: bold;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 3rem;
    
}
.line {
    display: inline-block;
}